
@{
    ViewData["Title"] = "Home Page";
}

<div>
    <form method="post" action="/admin">
        <select class="form-control" name="AccountType">
            <option value="All">All</option>
            <option value="Chequing">Chequing</option>
            <option value="Saving">Saving</option>
        </select><br />
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

